/* app css stylesheet */
body {
  background-color: lightblue;
}
/* nav */
#card-color {
  background-color: white;
}

#nav1 .nav-link {
  color: black;
}

#nav1 a:hover{
  color: black;
  background-color: lightblue; 
  text-decoration: underline;
}


#exampleFormControlInput1{
  width: 200px;
}

/*box styles */
#content {
  padding: 15px;
  border-style: solid;
  border-color: lightgrey;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 434px;
  background-color: white;
}

/* form styles */
.form-control {
  width: 400px;
}
/* Card Styles */
#card1{
  margin: auto;
  margin-top: 25px;
  margin-left: 0px;
}

.card-text {
  height: 300px;
  overflow: auto;
}
